@media (max-width: 500px) {
    body {
        overflow-x: hidden;
    }
    
}

@media (min-width: 500.1px) and (max-width: 800px) {
    body {
        overflow-x: hidden;
    }
    
}

@media (min-width: 800.1px) and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }
    
}

@media (min-width: 1024.1px) {
    body {
        overflow-x: hidden;
    }
    
}